@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #00122a;
  background-color: white;

  --cosmo-yellow: #ffc158;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
}

.rangeSlider {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
}
.rangeSlider::-webkit-slider-runnable-track {
  background: rgb(224, 224, 224);
  border-radius: 20px;
  height: 0.4rem;
  z-index: 5;
}
.rangeSlider::-moz-range-track {
  background: rgb(224, 224, 224);
  border-radius: 20px;
  height: 0.4rem;
  z-index: 5;
}
.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: var(--cosmo-yellow);
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: 3px solid transparent;
  z-index: 10;
  transition: 0.5s ease-in-out;
}
.rangeSlider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  background-color: var(--cosmo-yellow);
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.rangeSlider:focus {
  outline: none;
}
.rangeSlider:focus::-webkit-slider-thumb,
.rangeSlider:hover::-webkit-slider-thumb {
  border: 1px solid white;
  outline: 2px solid var(--cosmo-yellow);
  outline-offset: 0.125rem;
}

.rangeSlider:focus::-moz-range-thumb,
.rangeSlider:hover::-moz-range-thumb {
  border: 1px solid white;
  outline: 2px solid var(--cosmo-yellow);
  outline-offset: 0.125rem;
}

.carDetailsBox {
  .dataRow {
    position: relative;
    align-items: center;
    justify-content: center;
    .description::before {
      content: "";
      position: absolute;
      left: -4.5px;
      top: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: grey;
    }
  }
  .dataRow:first-of-type {
    background: #00000005;
    border-radius: 10px 10px 10px 0;
  }
  .dataRow:not(:first-of-type) {
    color: #00000060;
    p {
      color: #00000060;
    }
  }
  .dataRow::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 2px;
    height: 50%;
    background: gray;
  }
  .dataRow:last-of-type::before {
    display: none;
  }
  .dataRow::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 50%;
    width: 2px;
    height: 50%;
    background: gray;
  }
  .dataRow:first-of-type::after {
    display: none;
  }
}
.comment:last-of-type {
  border: 0;
}
.scrollBox {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollBox::-webkit-scrollbar {
  display: none;
}

input[type="checkbox"] {
  accent-color: #ffc158;
}

.w-fit-cus {
  width: fit-content !important;
}
@media only screen and (max-width: 600px) {
  .statusSeclection {
    .status {
      width: 48%;
    }
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  transition: width 0.3s ease !important;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
  border-radius: 20px;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(252 211 77);
}

/* Slider container */
.custom-slider {
  width: 100%;
  box-sizing: border-box;
}
.custom-slider .noUi-target {
  width: 100%;
  margin: 0%;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #e0e0e0;
}
.custom-slider .noUi-base {
  width: 100%;
}

.custom-slider .noUi-connect {
  height: 20px;
  background: #ffc158;
}

.custom-slider .noUi-handle {
  width: 20px !important;
  height: 20px !important;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffc158;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: grab;
}
.custom-slider .noUi-handle {
  transform: translateX(-7px); 
}
.custom-slider .noUi-handle::before,
.custom-slider .noUi-handle::after {
  content: none; 
}


.custom-slider .noUi-tooltip {
  background: #ffc158;
  color: #fff; 
  font-size: 12px;
  border-radius: 3px;
  padding: 5px;
}

/* Hide arrows in number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}
